html, body {
  height: 100%;
  width: 100%;
}

h1, h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}

h2 {
  font-size: 30px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 135%;
}

.idea {
  color: #00A79D;
}

.userInputs {
  background-color: #E5F3F2;
  display: block;
  padding: 20px 0px;
  text-align: center;
}

.inputs {
  border: 3px solid #CBCCCE;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 15px auto;
  padding: 5px;
  width: 50%;
}

.saveBtn {
  border: none;
  background-color: #00A79D;
  color: #ffffff;
  width: 51%;
}

.saveBtn:hover {
  background-color: #045E55;
}

.ideaCards {
  background-color: #ffffff;
}

.search {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ideaCard {
  border-bottom: 2px solid #D1D3D4;
  margin: auto;
  margin-bottom: 40px;
  width: 50%;
}

.cardTop {
  display: inline-block;
  margin: 5px auto;
  width: 100%;
}

.ideaTitle {
  color: #6D6E71;
  float: left;
}

.icon {
  height: 25px;
  width: 25px;
}

.deleteBtn {
  float: right;
  background: no-repeat url(FEE-ideabox-icon-assets/spritesheet.png) 0 0;
  background-size: cover;
}

.deleteBtn:hover {
  background: no-repeat url(FEE-ideabox-icon-assets/spritesheet.png) 0 -27px;
  background-size: cover;
}

.ideaBody {
  color: #939598;
}

.cardBottom {
  display: inline-block;
  margin: 15px auto;
  width: 100%;
}

.vote {
  float: left;
  margin-right: 15px;
}

.upvote {
  background: no-repeat url(FEE-ideabox-icon-assets/spritesheet.png) 0 -52px;
  background-size: cover;
}

.upvote:hover {
  background: no-repeat url(FEE-ideabox-icon-assets/spritesheet.png) 0 -79px;
  background-size: cover;
}

.downvote {
  background: no-repeat url(FEE-ideabox-icon-assets/spritesheet.png) 0 -106px;
  background-size: cover;
}

.downvote:hover {
  background: no-repeat url(FEE-ideabox-icon-assets/spritesheet.png) 0 -133px;
  background-size: cover;
}

.qualityLevel {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
}
